body{
    font-family: Franklin Gothic, Arial, sans-serif;
}

nav{
    width: 100%;
    height: 61px;
    background: #2a3e51;
    position: fixed;
}

.logo{
    color:#fff;
    font-size: 20px;
    line-height: 60px;
    margin-left: 389px;
    float: left;
}

.menu{
    margin-left: 432px;
    float: left;
}

ul li{
    float: left;
    font-size: 14px;
    color: #fff;
    line-height: 60px;
    margin-right: 41px;
    text-transform: uppercase;
}

.main{
    width: 100%;
    height: calc(100% - 61px);
    background: url(../img/boy.png) 95% 100%/auto 85% no-repeat,url(../img/sh.png) 100% 103% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}

.title_container{
    float: left;
    margin: 400px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
}

.title_container h1{
    font-size: 60px;
    font-weight: bold;
}

.title_container h4{
    font-size: 20px;
    margin-top: 40px;
    color: #8a919c;
}

.title_container input{
    height: 40px;
    font-size: 13px;
    margin: 60px 15px 0px 15px;
    text-align: center;
    border: 2px solid #6d7682;
    border-radius: 5px;
    background: none;
    color: #6d7682;
    padding: 0% 16px;
}

.about_me{
    width: 100%;
    height: 720px;
    background: url(../img/lboy.png) 50% 47% no-repeat, url(../img/line.png) 50% 24% no-repeat, url(../img/bg2.jpg) center/cover no-repeat;
    float: left;
}

.about_me h3{
    font-size: 30px;
    text-align: center;
    margin-top: 110px;
    color: #263244;
    text-transform: uppercase;
   

}

#FP{
    font-size: 14px;
    margin: 325px 0% 40px 600px;
    text-align: center left;
    color: #3f495a;
    float: left

}

#SP{
    font-size: 14px;
    margin-top: 40px;
    margin: 0px 0% 0px 600px;
    text-align: center left;
    color: #3f495a;
    float: left


}

.about_me input{
    height: 35px;
    font-size: 13px;
    margin: 40px 50% 0px 46% ;
   
    text-align: center;
    border: 2px solid #6f707e;
    border-radius: 5px;
    background: url(../img/иконка.png) 5% 50% no-repeat;
    color: #6f707e;
    padding: 0px 20px 0px 30px
    
}

.wic{
    width: 100%;
    height: 523px;
    text-align: center;
    background: url(../img/line.png) 50% 30% no-repeat, url(../img/bg3.jpg) 50% 50%  no-repeat;
    float: left;
}

.wic h2{
    font-size: 30px;
    margin-top: 110px;
    text-align: center;
    color: #3f495a;
    text-transform: uppercase;
    
}

.web {
    font-size: 16px;
    color: #ee8a05;
    margin: 146px 0px 0px 380px;
    float: left;
}

.web p{
    color:#3f495a;
    font-size: 14px;
    margin-top: 20px;
   line-height: 16px;
}

#note {
    margin-bottom: 40px;
}

.cre {
    font-size: 16px;
    color: #ee8a05;
    margin: 146px 0px 0px 80px;
    float: left;
}

.cre p{
    color:#3f495a;
    font-size: 14px;
    margin-top: 20px;
    line-height: 16px;
}

#creat {
    margin-bottom: 40px;
}

.opt {
    font-size: 16px;
    color: #ee8a05;
    margin: 146px 0px 0px 80px;
    float: left;
}

.opt p{
    color:#3f495a;
    font-size: 14px;
    margin-top: 20px;
    line-height: 16px;
}

#optim {
    margin-bottom: 40px;
}

.mar {
    font-size: 16px;
    color: #ee8a05;
    margin: 146px 0px 0px 80px;
    float: left;
}

.mar p{
    color:#3f495a;
    font-size: 14px;
    margin-top: 20px;
    line-height: 16px;
}

#market {
    margin-bottom: 40px;
}

.caseall{
    width: 100%;
    height: 1100px;
    text-align: center;
    background:url(../img/line.png) 50% 15% no-repeat;
    float: left;
}

.case h3{
    font-size: 30px;
    margin-top: 110px;
    text-align: center;
    color: #384354;
    text-transform: uppercase;
    
}

.case p{
    font-size: 16px;
    margin-top: 75px;
    margin-bottom: 45px;
    color: #3f495a;
    text-align: center;
    
}

.inf h3{
    font-size: 22px;
    margin: 40px 0px 0px 420px;
    text-align: center;
    color: #384354;
    text-transform: uppercase;
    float: left;
}

.inf p{
    font-size:10px;
    color:#3f495a;
    margin: 70px 0px 0px -65px;
    float: left;
}

.website h3{
    font-size: 22px;
    margin: 90px 0px 0px -85px;
    text-align: center;
    color: #384354;
    text-transform: uppercase;
    float: left;
}

.website p{
    font-size:10px;
    color:#3f495a;
    margin: 120px 0px 0px -85px;
    float: left;
}

.caseall input{
    height: 44px;
    font-size: 15px;
    margin: 160px 0px 0px -130px;
    text-align: center;
    border-radius: 8px;
    background: #63b5ae;
    color: #fff;
    padding: 0% 40px;
    float: left;

}

.name h4{
    font-size: 18px;
    margin: 40px 0px 0px 85px;
    text-align: center;
    color: #384354;
    float: left;
}

.name p{
    font-size:14px;
    color:#3f495a;
    margin: 70px 0px 0px -145px;
    text-align: left;
    float: left;
}

.price{
    width: 100%;
    height: 900px;
    text-align: center;
    float: left;
}

.price_calc{
    font-size: 30px;
    margin-top: 160px;
    text-align: center;
    color: #1c2534;
    
}

.site{
    width: 890px;
    height: 110px;
    text-align: center;
    float: left;
    margin: 60px 0px 0px 515px;
}

.site h3{
    font-size: 22px;
    float: left;
    color: 1c2534;
}

.select_site{
    margin-top: 35px;
    display: block;


    
}
.design{
    width: 890px;
    height: 110px;
    text-align: center;
    float: left;
    margin: 60px 0px 0px 515px;
}

.design h3{
    font-size: 22px;
    float: left;
    color: 1c2534;
}

.select_design{
    margin-top: 35px;
    display: block;
}

.adaptive{
    width: 890px;
    height: 110px;
    text-align: center;
    float: left;
    margin: 60px 0px 0px 515px;
}

.adaptive h3{
    font-size: 22px;
    float: left;
    color: 1c2534;
}

.select_adaptive{
    margin-top: 35px;
    display: block;
}

.end{
    background: url(../img/line1.jpg) 51% 0% no-repeat;
    margin-top: 510px;
}

.end1{
    float: left;
    font-size: 15px;
    color: #1c2534;
    margin: 20px 0px 0px 513px;
    text-align: left;
    line-height: 30px;
}

.end2{
    font-size: 20px;
    color: #1c2534;
    margin: 0px 0px 0px 890px;
    padding-top: 20px;
    line-height: 30px;

}

#textarea_name{
    resize: none
}
#textarea_email{
    resize: none
}
#textarea_text{
    resize: none
}